{{ extend  './layouts/home.html' }}

{{ block 'title'}}首页{{ /block }}
{{ block 'head' }}<link rel="stylesheet" href="/public/css/index1.css">{{ /block }}
{{ block 'body'}}
<div class="container login" id="login_module">
    <div class="container header">
        <p>登录<span id="dismiss1">&times;</span></p>
        
    </div>
    <div class="container form">
        <form action="/" method="post" id="form_login">
            <input class="form-control"  name="id" placeholder="请输入ID"  required/>
            <input type="password" class="form-control"  name="pwd" placeholder="请输入密码" required/>
            <input class="btn btn-success" type="submit" value="登录">
        </form>
    </div>
</div>

<div class="container register" id="register_module">
    <div class="container header">
        <p>注册<span id="dismiss2">&times;</span></p>
        
    </div>
    <div class="container form">
        <form action="/" method="post" id="form_register">
            <input class="form-control"  name="id" placeholder="请输入ID" required/>
            <input class="form-control"  name="name" placeholder="请输入姓名" required/>
            <input type="password" class="form-control"  name="pwd" placeholder="输入密码" required/>
            <label>选择性别</label>
            <select class="form-control" name="gender">
                <option value="男" name="gender">男</option>
                <option value="女" name="gender">女</option>
            </select>
            <label>选择班级</label>
            <select class="form-control" name="Class">
                <option value="01" name="Class">一班</option>
                <option value="02" name="Class">二班</option>
                <option value="03" name="Class">三班</option>
            </select>
            <input class="btn btn-success" type="submit" value="注册">
        </form>
    </div>
</div>
{{ /block }}
{{ block 'script'}}
<script src="/public/js/index.js"></script>
{{ /block }}