{{ extend '../_layouts/home.html'}}

{{ block 'title'}} 用户信息 {{ /block }}
{{ block 'body'}}
<form id="chang-form" method="post" action="/index">
    <div class="form-group">
      <label for="exampleInputnickName">昵称</label>
      <input type="text" class="form-control" id="exampleInputNickname" placeholder="nickName" name="nickname" value="{{ user.nickname }}">
    </div>
    <div>
        <label class="radio-inline">
            <input type="radio" name="gender" id="inlineRadio1" value="男" checked> 男
            </label>
            <label class="radio-inline">
            <input type="radio" name="gender" id="inlineRadio2" value="女"> 女
            </label>
        </label>
    </div>
    <div class="form-group">
        <label for="exampleInputtele">电话</label>
        <input type="text" class="form-control" id="exampleInputTele" placeholder="tele" name="tele" value="{{ user.tele }}">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
 {{ /block }}
 {{ block 'script'}}<script> 
      $('#chang-form').on('submit', function(e){
          e.preventDefault();
          let formData = $(this).serialize();
          $.ajax({
              url: '/user/editInfo',
              type: 'post',
              data: formData,
              dataType: 'json',
              success : data => {
                var err_code = data.err_code;
                    if(err_code === 2){
                        window.alert('昵称重复');
                    }else if(err_code === 0){
                        window.location.href = '/index';
                    }else if(err_code === 500){
                        window.alert('服务器繁忙，稍后再试');
                    }
              }
          })
      }) 
 </script> {{ /block}}