<nav class="navbar navbar-transparent col-lg-12 col-xs-12 col-md-12">
    <div class="navbar-header">
        <a class="navbar-brand" href="/main">
            <p class="navbar-text">作业管理系统</p>
        </a>
    </div>
    <div class="container">
        <ul>
            <li>
                <a href="/handIn" id="a">上传作业</a>
            </li>
            <li>
                <a href="javascript:;" id="a">查询作业信息</a>
            </li>
        </ul>
    </div>
    <div class="navbar-body">
        <ul>
            <li class="line-height" onclick="showOut()" id="name">
                <a href="javascript:;">{{ name }}</a>
            </li>
            <li class="line-height">
                <a href="/logout">退出</a>
            </li>
        </ul>
    </div>
</nav>